/* @import '~antd/lib/style/themes/default.less'; */
.infoPanel {
  display: flex;
}

.fragment {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  color: rgba(0,0,0,.45);
  text-align: center;
}

.fragment:last-child {
  margin-right: 0;
}

.row {
  display: flex;
}

.echart {
  flex: 1;
  height: 300px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 10px 0;
  background-color: #fff;
}

.row .echart:last-child {
  margin-right: 0;
}